---
import Layout from "../../layouts/Layout.astro";
const pageTitle = "Blog Page-Healthcare";
---

<Layout title={`PestDoc AI | ${pageTitle}`}>
  <main>
    <div class="banner-container">
      <div class="banner-text">
        <div class="text-content">
          <p class="highlight-text">Healthcare</p>
          <h1>The Rise of Artificial Intelligence in Healthcare</h1>
          <p class="author-info"><span>Dr. Emily Walker</span> | <span>October 15, 2023</span> | <span>10 Minutes</span></p>
        </div>
      </div>
      <div class="banner-image">
        <img src="../../assets/banner-image-blog-healthcare.svg" alt="image" />
      </div>
    </div>
    <div class="container">
      <div class="container-table">
        <h1>Table of Contents</h1>
        <div class="content">
          <ul>
            <li><a href="#section1"> Introduction</a></li>
            <li><a href="#section2">AI in Diagnostic Imaging</a></li>
            <li><a href="#section3">Predictive Analytics and Disease Prevention</a></li>
            <li><a href="#section4">Personalized Treatment Plans</a></li>
            <li><a href="#section5">Drug Discovery and Research</a></li>
            <li><a href="#section6">AI in Telemedicine</a></li>
            <li><a href="#section7">Ethical Considerations</a></li>
            <li><a href="#section8">The Future of AI in Healthcare</a></li>
            <li><a href="#section9">Conclusion</a></li>
          </ul>
        </div>
      </div>
      <div class="container-content">
        <h1 id="section1">Introduction</h1>
        <p style={{ color: "#6A6C73" }}>
          Artificial Intelligence (AI) has emerged as a transformative force in the healthcare industry, reshaping patient care, diagnostics, and research. In this blog post, we explore the profound impact of AI in healthcare, from revolutionizing
          diagnostic accuracy to enhancing patient outcomes.
        </p>
        <h1 id="section2">Artificial Intelligence (AI)</h1>
        <p style={{ color: "#242526" }}>
          Artificial Intelligence (AI) has permeated virtually every aspect of our lives, and healthcare is no exception. The integration of AI in healthcare is ushering in a new era of medical practice, where machines complement the capabilities of
          healthcare professionals, ultimately improving patient outcomes and the efficiency of the healthcare system. In this blog post, we will delve into the diverse applications of AI in healthcare, from diagnostic imaging to personalized
          treatment plans, and address the ethical considerations surrounding this revolutionary technology.
        </p>
        <h1 id="section3">Predictive Analytics and Disease Prevention</h1>
        <p style={{ color: "#6A6C73" }}>
          One of the most prominent applications of AI in healthcare is in diagnostic imaging. AI algorithms have demonstrated remarkable proficiency in interpreting medical images such as X-rays, MRIs, and CT scans. They can identify anomalies and
          deviations that might be overlooked by the human eye. This is particularly valuable in early disease detection. For instance, AI can aid radiologists in detecting minute irregularities in mammograms or identifying critical findings in chest
          X-rays, potentially indicative of life-threatening conditions.
        </p>
        <h1 id="section4">Personalized Treatment Plans</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate aliquam sequi provident laboriosam facilis quia consequuntur, recusandae debitis odit nisi obcaecati, necessitatibus ducimus ipsa quam ex perspiciatis iusto. Rem, earum.
        </p>
        <h1 id="section5">Drug Discovery and Research</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nesciunt debitis magnam incidunt deleniti praesentium velit minima quisquam iste illum unde culpa cumque quis maiores, totam rerum, quo sit error.</p>
        <h1 id="section6">AI in Telemedicine</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sapiente laborum fugit amet tenetur nobis perferendis explicabo commodi ipsum error doloremque porro esse voluptates quasi vero. Dolorem enim totam deserunt!</p>
        <h1 id="section7">Ethical Conserderations</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima quam dolorum quos ipsum dolore, itaque nostrum deleniti, eveniet accusamus aspernatur, reiciendis aperiam? Nobis magni, dignissimos quas nihil hic necessitatibus deserunt.
        </p>
        <h1 id="section8">The Future of AI in Healthcare</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate molestias, exercitationem perspiciatis harum quae laborum unde fugiat recusandae nihil vero, doloribus quam, blanditiis tempore commodi ad molestiae ipsum facere?
        </p>
        <h1 id="section9">Conclusion</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem nulla facere quod itaque omnis ipsam doloribus laboriosam eveniet cupiditate, culpa voluptates numquam impedit eaque et fugiat, assumenda eum odit a?</p>
        <div class="author">
          <div class="image-author">
            <img src="../assets/image-author.svg" alt="author" />
          </div>
          <div class="author-info">
            <div class="author-header">
              <h1 style={{ color: "#00246B", fontWeight: "600" }}>Dr.Emily Walker</h1>
              <div class="socmed-author">
                <ul>
                  <li>
                    <img src="../assets/author-facebook.svg" alt="fb" />
                    <img src="../assets/author-twitter.svg" alt="twitter" />
                    <img src="../assets/author-instagram.svg" alt="instagram" />
                  </li>
                </ul>
              </div>
            </div>
            <p style={{ color: "#0098B0", fontWeight: "600" }}>ABOUT THE AUTHOR</p>
            <p class="description" style={{ color: "#242526" }}>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, labore. Officia dignissimos temporibus totam unde sint porro, ex inventore commodi ratione odit nostrum ipsa et voluptatum est. Nisi, velit quod.
            </p>
          </div>
        </div>
      </div>
      <div class="container-socmed">
        <div class="socmed">
          <ul>
            <li><img src="../../assets/Instagram-color.svg" alt="instagram" /></li>
            <li><img src="../../assets/Tiktok-color.svg" alt="tiktok" /></li>
            <li><img src="../../assets/X-color.svg" alt="x" /></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-news">
      <div class="head">
        <p style={{ fontWeight: "600" }}>Similiar News</p>
        <button>View All News <span><img src="../assets/Icon-arrow-white.png" alt="arrow" width="20" height="20" /></span></button>
      </div>
      <div class="list-news">
        <div class="news-1">
          <img src="../assets/news-1.svg" alt="news-1" />
          <p style={{ fontSize: "12px", marginTop: "18px", marginBottom: "5px" }}><span style={{ color: "#4C4C4C" }}>By</span> <span style={{ color: "#0098B0" }}>John Doe</span> | Aug 23, 2021</p>
          <h1>A UX Case Study Creating a Studious Environment for Students:</h1>
          <p style={{ color: "#232536", fontSize: "12px", marginTop: "12px" }}>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus sit optio amet quis inventore iure accusantium corporis illum voluptate libero rem accusamus repellendus voluptatem, dolor molestias ipsam adipisci deleniti iusto!
          </p>
        </div>
        <div class="news-2">
          <img src="../assets/news-1.svg" alt="news-2" />
          <p style={{ fontSize: "12px", marginTop: "18px", marginBottom: "5px" }}><span style={{ color: "#4C4C4C" }}>By</span> <span style={{ color: "#0098B0" }}>John Doe</span> | Aug 23, 2021</p>
          <h1>A UX Case Study Creating a Studious Environment for Students:</h1>
          <p style={{ color: "#232536", fontSize: "12px", marginTop: "12px" }}>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit optio amet quis inventore iure accusantium corporis illum voluptate libero rem accusamus repellendus voluptatem, dolor molestias ipsam adipisci deleniti iusto!
          </p>
        </div>
        <div class="news-3">
          <img src="../assets/news-1.svg" alt="news-3" />
          <p style={{ fontSize: "12px", marginTop: "18px", marginBottom: "5px" }}><span style={{ color: "#4C4C4C" }}>By</span> <span style={{ color: "#0098B0" }}>John Doe</span> | Aug 23, 2021</p>
          <h1>A UX Case Study Creating a Studious Environment for Students:</h1>
          <p style={{ color: "#232536", fontSize: "12px", marginTop: "12px" }}>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sit optio amet quis inventore iure accusantium corporis illum voluptate libero rem accusamus repellendus voluptatem, dolor molestias ipsam adipisci deleniti iusto!
          </p>
        </div>
      </div>
    </div>
  </main>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

    .banner-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f2fdff;
      padding: 20px;
    }

    .banner-text {
      flex: 1;
      margin-right: 20px;
    }

    .banner-image img {
      width: 55%;
      height: auto;
      margin-left: auto;
      margin-right: 30px;
    }

    .text-content h1 {
      font-weight: bold;
      font-size: 37px;
    }

    .highlight-text {
      background-color: #c5ffc8;
      font-weight: 600;
      border-radius: 8px;
      margin-top: 50px;
      margin-bottom: 20px;
      padding: 5px 15px;
      display: inline-block;
    }

    .author-info {
      font-weight: 500;
      color: #00246b;
      margin-top: 20px;
    }

    .author-info span {
      margin-right: 5px;
    }

    .container {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      padding: 25px;
    }

    .container > div {
      padding: 20px;
    }

    .container-table {
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
      margin-left: 25px;
      margin-top: 25px;
      flex: 5;
      height: calc(100vh - 60px);
      overflow: auto;
    }

    .container-content {
      margin-top: 25px;
      flex: 10;
    }

    .container-socmed {
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
      margin-top: 25px;
    }

    .container-socmed .socmed img {
      height: 30px;
      margin-bottom: 15px;
    }

    .container-table h1 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    .container-content h1 {
      font-size: 24px;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .container-content p {
      margin-bottom: 20px;
      line-height: 1.6;
      font-size: 14px;
    }

    .container-table ul {
      list-style-type: disc;
      padding-left: 30px;
    }

    .container-table ul li {
      margin-bottom: 15px;
      color: #6a6c73;
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      line-height: 30px;
      font-weight: 500;
    }

    .container-table ul li:hover {
      /* background-color: #e0f7fa; */
      color: #4b4a4a;
      cursor: pointer;
    }

    .content {
      border-style: solid;
      border-width: 1px;
      border-color: #eff0f6;
      border-radius: 8px;
      padding-top: 20px;
      padding-left: 15px;
    }

    .image-author img {
      border-radius: 50%;
    }

    .socmed-author ul {
      padding: 0;
    }

    .socmed-author img {
      border-radius: 50%;
    }

    .author {
      padding: 20px;
      border-width: 1px;
      border-radius: 8px;
      border-style: solid;
      border-color: #eff0f6;
      display: flex;
      align-items: flex-start;
    }

    .author-info {
      flex-grow: 1;
    }

    .author-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .author-header h1 {
      margin: 0;
    }

    .socmed-author ul {
      padding: 0;
      margin: 0;
    }

    .socmed-author ul li {
      display: flex;
      gap: 10px;
      list-style: none;
    }

    .socmed-author img {
      height: 30px;
    }

    .image-author {
      flex-shrink: 0;
      margin-right: 20px;
    }

    .container-news {
      padding: 40px;
    }

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 25px;
    }

    .head button {
      background-color: #0098b0;
      border-radius: 8px;
      color: white;
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .head button img {
      margin-left: 5px;
      vertical-align: middle;
    }
    .list-news {
      display: flex;
      gap: 40px;
    }

    .news-1 h1,
    .news-2 h1,
    .news-3 h1 {
      color: #232536;
      font-weight: 600;
      font-size: 20px;
    }
  </style>
</Layout>
