---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Logos from "@components/logos.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <Hero />
    <Features />
    <Logos />
    <Cta />
  </Container>

  <div id="company-widget-container" data-widget-id="674b62bc32b83a75f1860fc4:674b62bd32b83a75f1860fc6"></div>
</Layout>
