---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Home Page";
import "../styles/tailwind.css";
---

<!-- <link rel="icon" href="./assets/PestDoc-AI-Hp.svg" type="image/x-icon" /> -->
<Layout title={`Pest-Doc AI | ${pageTitle}`}>
  <main>
    <div class="welcome-container">
      <img src="assets/PestDoc-AI-Welcome.svg" alt="welcome" class="welcome-img" />
      <img src="assets/PestDoc-AI-txt.svg" alt="PestDoc-AI-txt" class="text-img" />
      <img src="assets/PestDoc-AI-Hp.svg" alt="hp-img" class="hp-img" />
    </div>
    <p class="welcome-text">
      Welcome to PestDoc-AI, your reliable pest consultation<br />companion.
    </p>
    <hr style="border: none; border-top: 1px solid #00C1DF; width: 25%; margin-top: 30px; margin-left:50px" />
    <form class="question-form">
      <input type="text" placeholder="Ask anything" />
      <button type="submit">Send question</button>
    </form>
    <div class="app">
      <img src="assets/Google-Play.svg" alt="Google-Play" />
      <img src="assets/App-Store.svg" alt="App-Store" />
    </div>
    <div class="content-container">
      <p class="text">Resolve Your Pest Problems <br />at Your Fingertips</p>
      <img src="assets/PestDoc-AI-Content.svg" alt="content" style="padding: 30px;" />
      <img src="assets/PestDoc-AI-Content-Chat.svg" alt="content-chat" class="content-chat" />
      <div class="content">
        <div class="chat-container">
          <div class="chat-content">
            <h1>Chat With AI 🤖</h1>
            <p>
              Welcome to PestDoc-AI, your reliable pest<br /> consultation companion. We understand<br /> the challenges of dealing with pests at<br /> home, in the garden, or at work. Our<br /> innovative AI platform offers personalized<br /> pest solutions
              at your fingertips.
            </p>
          </div>
          <div class="chat-img-container">
            <img src="assets/PestDoc-AI-Hp.svg" alt="hp-img" style="width:100%" />
          </div>
        </div>
        <div class="chat-container">
          <div class="chat-img-container">
            <img src="assets/PestDoc-AI-Ipad.svg" alt="Ipad" style="width:100%" />
          </div>
          <div class="chat-content-2">
            <h1>Chat With AI 🤖</h1>
            <p>
              Welcome to PestDoc-AI, your reliable pest<br /> consultation companion. We understand<br /> the challenges of dealing with pests at<br /> home, in the garden, or at work. Our<br /> innovative AI platform offers personalized<br /> pest solutions
              at your fingertips.
            </p>
          </div>
        </div>
        <div class="chat-container">
          <div class="chat-content">
            <h1>Chat With AI 🤖</h1>
            <p>
              Welcome to PestDoc-AI, your reliable pest<br /> consultation companion. We understand<br /> the challenges of dealing with pests at<br /> home, in the garden, or at work. Our<br /> innovative AI platform offers personalized<br /> pest solutions
              at your fingertips.
            </p>
          </div>
          <div class="chat-img-container">
            <img src="assets/PestDoc-AI-Hp.svg" alt="Hp" style="width:100%" />
          </div>
        </div>
        <h1 style="text-align:center;">Download Now</h1>
        <div class="app-2">
          <img src="assets/Google-Play.svg" alt="Google-Play" />
          <img src="assets/App-Store.svg" alt="App-Store" />
        </div>
      </div>
    </div>
    <section>
      <div>
        <h1 style="padding-left:50px; padding-top:20px;">Meet our <span style="color:#00C1DF">expert</span></h1>
        <p style="padding-left:50px;">
          We love what we do and we do it with passion. We value the <br />
          experimentation of the message and smart incentives
        </p>
        <hr style="border-top: 1px solid #00C1DF; width: 25%; margin-top: 20px; margin-left:50px" />
      </div>
      <div class="founder">
        <img src="assets/CEO&Founder-Pak Intan.svg" alt="" />
        <img src="assets/CEO&Founder-Bu Lin.svg" alt="" />
      </div>
    </section>
  </main>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

    .welcome-container {
      display: flex;
      align-items: center;
      padding-top: 45px;
      padding-left: 50px;
      flex-wrap: wrap;
      position: relative;
    }
    .welcome-img {
      width: 36%;
      margin-bottom: 20px;
    }

    .text-img {
      width: 63%;
      margin-left: -180px;
      margin-bottom: 85px;
    }
    .hp-img {
      position: absolute;
      right: 150px;
      top: -25px;
      width: 50%;
      margin-bottom: 20px;
    }
    .welcome-text {
      padding-left: 50px;
      color: #7a808c;
    }
    .question-form {
      padding-top: 20px;
      padding-left: 50px;
      display: flex;
      gap: 62px;
      align-items: center;
    }
    .question-form input,
    .question-form button {
      padding: 8px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .question-form input:focus,
    .question-form button:focus {
      outline: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .question-form input {
      width: 300px;
    }
    .question-form button {
      background-color: #00c1df;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .question-form button:hover {
      background-color: #007a8c;
    }
    .app {
      display: flex;
      justify-content: start;
      padding-left: 50px;
      gap: 20px;
    }
    .app-2 {
      display: flex;
      justify-content: center;
      gap: 20px;
    }
    .app,
    .app-2 img {
      height: 100px;
      width: 150px;
    }

    .content-container {
      padding-top: 35px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .content-container .content-chat {
      position: absolute;
      width: 60%;
      padding-top: 220px;
    }
    .text {
      position: absolute;
      font-size: 50px;
      color: white;
      font-family: "Poppins", sans-serif;
      text-align: center;
      font-weight: 600;
      padding-top: 40px;
    }

    .content-container .content {
      background-color: #0098b0;
      height: 100%;
      width: 100%;
    }
    .chat-container {
      display: flex;
      align-items: center;
      gap: 180px;
      padding: 80px 25px;
    }
    .chat-content {
      background-color: white;
      padding: 25px;
      border-radius: 8px;
      margin-left: 100px;
      justify-items: start;
    }
    .chat-content-2 {
      background-color: white;
      padding: 25px;
      border-radius: 8px;
      margin-left: 20px;
      justify-items: start;
    }
    .chat-img-container {
      flex: 1;
      /* display: flex; */
      /* justify-content: center; */
      /* align-items: center; */
      /* width: 100%; */
    }
    h1 {
      color: #252525;
      font-weight: 600;
      font-size: 32px;
      font-family: "Poppins", sans-serif;
    }
    .founder {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 20px;
    }

    .founder img {
      width: 350px;
      margin: 0 10px;
    }
    @media (max-width: 1024px) {
      .text-img {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 768px) {
      .welcome-container {
        padding-left: 20px;
        padding-top: 20px;
        flex-direction: column;
        align-items: flex-start;
      }
      .welcome-img,
      .text-img {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
      }
      .welcome-text {
        padding-left: 20px;
      }
      /* .chat-container {
      flex-direction: column;
      align-items: flex-start;
      margin: 20px;
      padding: 20px;
    } */
      .chat-img {
        width: 100%;
      }
    }
  </style>
</Layout>
